html body {
    background-color: #15132f;
    color: #faf6ed;
    font-family: 'Roboto', sans-serif;
}

td {
    border-left: #22ab94;
}

table {
    background-color: #0d0c1d;
}
 
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
  
.header {
    /* border: 5px solid #22ab94; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
    padding: 20px; */
    font-size: 36px;
    /* padding-left: 20px; */
}

.metrics {
    color:  #707d8a;
    font-size: 20px;
    /* text-align: center; */
    padding-right: 10px;
}

.metric {
    color: white;
    text-align: left;
    font-size: 20px;
}

.news_images {  
    width: 260px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.news {
    width: 50%;
    border: 5px solid yellow;
}

 
.icon {
    width: 80px; 
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.financials {
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

/* Home Page Table */ 
.table tr {
    background-color: #15132f;
    color: white;
}

.registration-form {
    width: 35%; 
    margin: auto;
    padding: 10px; 
    text-align: center;
    background-color: #212837;
}

.login-form {
    width: 35%; 
    margin: auto;
    padding: 10px; 
    text-align: center;
    height: 75%;
    background-color: #212837;
}


.myfieldclass { 
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid white;
    background: transparent;
    height: 40px;
    width: 60%;
}

input:focus {
    background-color: white;
    color: black;
    opacity: .3;
}

::placeholder {
    color: white;
    font-size: 18px;
    opacity: .5;
}

label {
    padding-right: 25px;
}
