{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stocks/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
 
<!-- <div class="container-fluid">
    {% include "stocks/header.html" %}
    {% include "stocks/navigation.html" %}
</div> -->

<!-----NAVBAR------>
<nav class="navbar navbar-expand-lg" style="background-color: #0d0c1d;">
    <div class="container-fluid">
        <span class="nav-brand" style="font-size: 45px; width: 270px;"><a href="{% url 'index' %}" style="text-decoration: none; color: white;"> TradingPulse</a></span>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="material-symbols-outlined" style="font-size: 65px; font-weight: normal;">insert_chart</span>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <span class="material-symbols-outlined" style="font-size: 40px;">search</span>
            <span style="padding-top: 10px; padding-right: 25px;"><a href="{% url 'index' %}" style="text-decoration: none; color: white;"> Search</a></span>
            <span class="material-symbols-outlined" style="font-size: 40px;">list</span>
            <span style="padding-top: 10px; padding-right: 25px;">
            <a href="{% url 'watchlist' %}" style="text-decoration: none; color:white">Watchlist</a></span>
            <button class="btn btn-primary col-12" style="width: 100px; font-size: 18px;"type="submit">
            <a href="{% url 'login' %}" style="text-decoration: none; color: white;">Log Out</a> </button>
            </form>
        </form>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid" style="text-align: center;">
    <div class="container" style="padding-top: 20px;width: 100%;">
      <h1 class="display" style="font-weight: bold; font-size: 96px; letter-spacing: .06em; color: #c6c9d4">Watchlist</h1>
      <p class="lead"  style="color: #22ab94; font-size: 24px;">Track. Trade. Triumph.</p>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<container>
    <row>
        {% for el in form %}        
        <div class="row mt-2" style="width: 99%; margin: auto;">
            <ul class="col-md-12 list-group list-group-horizontal list-group-flush" style="background-color: #0d0c1d; color: #d1d4dc">
                <li class="col-md-3 text-light list-group-item pt-4" style="border: none; background-color: #0d0c1d; color: #d1d4dc; margin-left: 10px;" id="custom"><strong>
                <div>
                  <canvas id="{{ forloop.counter0 }}" style="height: 300px; width: 400px;"></canvas>
                </div>
                  <input value="{{ forloop.counter0 }}" id="quotes" type="number" style="display: none;">
                <script>
                  var counter = document.getElementById("quotes") 
                  var ctx = document.getElementById('{{ forloop.counter0 }}');
                  var quotes = {{ quotes|safe }}
                  var count = {{forloop.counter0}}
                  new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: quotes[count],
                      datasets: [{
                        data: quotes[count],
                        borderWidth: 1,
                        pointRadius: 0  
                      }]
                    },
                    options: {
                      responsive: false, 
                      plugins: {
                        legend: { display: false }
                      },
                      scales: {
                        y: { beginAtZero: false }
                      }
                    }
                  });
                </script>
                </strong></li>
                <li class="col-md-1 list-group-item pt-4" style="border: none; background-color: #0d0c1d; font-size: 20px; color: #d1d4dc; margin-right: 0px; padding-right: 0px;">
                  <span class="icon" style="float: right; margin-right: 0px; text-align: right;"><img src={{el.image}} alt="img" class="rounded-circle img-thumbnail icon" style="text-align: right"></span>
                </li>
                <li class="col-md-4 list-group-item pt-4" style="border: none; background-color: #0d0c1d; font-size: 20px; color: #d1d4dc">
                  <span style="font-size: 32px; color: #bbbecc"><strong>{{el.companyName}}</strong></span><br>
                  <span style="font-size: 16px; color: #22ab94;"><strong>{{el.website}}</strong></span><br>
                  <br>
                  <div class="row">
                    <div class="col">
                      <span style="color:#56769e"><strong>Current price:</strong></span><br>
                      <span><span style="padding-right: 2px;">$</span>{{el.price}}</span><br>
                      <div style="padding-top: 15px;"> 
                      <span style="color:#56769e; padding-top: 29px;"><strong>Range:</strong></span><br>
                      </div>
                      <span>{{el.range}}</span><br>
                    </div>
                    <div class="col">
                    {% if el.changes < 0 %}
                      <span style="border: none; background-color: #0d0c1d; font-size: 20px; color:#56769e"><strong style="color: #d1d4dc">Change:</strong><br><span class="text-danger">{{el.changes | floatformat:2 }} %</span></span><br>
                      </span>
                    {% elif el.changes >= 0  %}
                      <span style="border: none; background-color: #0d0c1d; font-size: 20px; color:#56769e"><strong>Change:</strong><br><span class="text-success">{{el.changes | floatformat:2 }} %</span></span><br>
                    {% endif %}
                    <div style="padding-top: 15px;"> 
                      <span style="color:#56769e"><strong>Average volume</strong></span><br>
                    </div>
                      <span>{{el.volAvg}}</span>
                    </div>
                  </div>
                  <li class="col-md-4 list-group-item pt-4" style="border: none; background-color: #0d0c1d; font-size: 20px; color: #d1d4dc">
                    <div class="row">
                        <form action="{% url 'delete' %}" method="POST">
                          {% csrf_token %}
                          <input name="delete_user" type="hidden" value="{{user}}">
                          <input name="delete_symbol" type="hidden" value="{{el.symbol}}">
                          <input type="submit" value="Delete" class="btn btn-lg btn-danger" style="width: 75%; margin: 0 auto; display: block;">
                        </form>
                    </div>  
                    <br><br>
                    <div class="row">
                      <div class="col-6">
                        <span style="color:#56769e"><strong>Market Cap:</strong></span><br>
                        <span>{{el.mktCap}}</span><br>
                        <div style="padding-top: 15px;"> 
                        <span style="color:#56769e"><strong>Beta:</strong></span><br>
                        </div>
                        <span>{{el.beta}}</span><br>
                      </div>
                      <div class="col-6">
                        <span style="color:#56769e"><strong>DCF:</strong></span><br>
                        <span>{{el.dcf}}</span><br>
                        <div style="padding-top: 15px;"> 
                        <span style="color:#56769e"><strong>Exchange:</strong></span><br>
                        </div>
                        <span>{{el.exchangeShortName}}</span><br>
                      </div>
                    </div>
                  </li>
                </li>
            </ul>
        </div>
        {% endfor %}
    </row>
</container>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>